<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Conoce nuestra redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>Nuestra Empresa
          </h6>
          <p>
            Turismo Relax, nos dedicamos al arriendo de departamentos de temporada en las distintas ciudades; Viña del Mar, La Serena, Pucón, Puerto Varas, con excelente ubicación y de altos estándares, para la máxima comodidad de nuestros clientes, como plus ofrecemos servicio de transporte y Tour espectaculares, con el fin de hacer de su estadía unos días maravillosos.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Servicios
          </h6>
          <p>
            <a routerLink="/departamentos" class="text-reset">Departamentos</a>
          </p>
          <p>
            <a routerLink="/tours" class="text-reset">Tours</a>
          </p>
          <p>
            <a routerLink="/servicios" class="text-reset">Servicios</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <img src="assets/logo.jpg" alt="" width="200">
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fa fa-home me-3"></i> Concepción, Chile</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            contacto@turismorelax.cl
          </p>
          <p><i class="fa fa-phone me-3"></i> +56954429630</p>
          <p><i class="fa fa-print me-3"></i> +512325802</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://turismorelax.cl/">turismorelax.cl</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->