<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let a of allDepartamentos">
            <div class="card">
                <img src="assets/{{a.imagen}}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="rowCard">
                        <div><h5 class="card-title">{{a.titulo}}</h5></div>
                        <div><h6 class="card-text">Valor reserva ${{a.precio | number}}</h6></div>
                    </div>
                    <p class="card-text">{{a.detalle}}</p>
                    <div class="rowCard">
                        <div>
                            <a (click)="verDetalle(a.id)" class="btn btn-warning">Ver
                                detalle</a>
                        </div>
                        <div>
                            <a (click)="guardarReserva(a.titulo, a.imagen, a.detalle, a.precio)"
                            class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>