.container{
    padding: 5%;
}

.col-menu {
    display: flex;
    flex-direction: column;
    width: 16%;
}

.col-contenido {
    padding: 0 0 0 5%;
}

.nuevo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}