<div class="container">
    <div class="row">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Turismo Relax, ofrece a sus pasajeros variados servicios extras a convenir, para lograr una mejor experiencia y comodidad.</p>
                    <p class="card-text">Servicios Extras:</p>
                    <dl>
                        <dt>a)	Traslados a distintos puntos de la ciudad.</dt>
                        <dt>b)	Traslados a Aeropuerto - Departamento / Departamento - Aeropuerto.</dt>
                        <dt>c)	Paquetes de viajes al extranjero.</dt>
                        <dt>d)	Paquetes de Turismo Aventura.</dt>
                    </dl>
                    <p class="card-text">Consulta por valores y promociones.</p>
                </div>
            </div>
    </div>
</div>